<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:insert="./fragment/header :: html_head">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->

        <!-- Spinner End -->


        <!-- Sign Up Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <form method="post" enctype="multipart/form-data" action="client/cadastrar" th:object="${usuario}" class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a th:href="@{/}" class="">
                                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>CIUEM</h3>
                            </a>
                            <h3>Cadastrar</h3>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text"  class="form-control" id="fullname" name="name" placeholder="Rhoddy Gondoe">
                            <label for="fullname">Full Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" autocomplete="off" name="username" class="form-control" id="username" placeholder="jhondoe">
                            <label for="username">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" autocomplete="off" name="email"  class="form-control" id="e_mail" placeholder="name@example.com">
                            <label for="e_mail">Email</label>
                        </div>
                        <div class="form mb-3">
                            <!-- Categoria será auto colocada como defaul-Cliente -->
                            
                            <label for="floatingpass" class="H4">Classificação:</label> 
                            <input type="radio" class="ACTIVE" NAME="userCategory" id="floatingpass" value="CLIENTE">CLIENTE
                            <input type="radio" class="desactive" NAME="userCategory" id="floatingpass" value="TECNICO">TECNICO
                        </div>
                        <div class="form-floating mb-3 ">
                            <input type="text" name="imagem" class="filePerfil" id="uploadfile">
                            <label for="uploadfile">Busque a sua imagem de perfil</label>
                            
                            <!-- <input type="file" class="form-control" id="floatingpass" placeholder="name@example.com"> -->
                            <!-- <label for="floatingpass">Imagem</label> --> 
                        </div>
                        <div class="form-floating mb-4">
                            <input autocomplete="off" name="password" type="password" class="form-control" id="fillPassword" placeholder="Password">
                            <label for="fillPassword">Password</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="form-check">
                                <input name="userCategory" type="checkbox" class="form-check-input" id="confCheckBox">
                                <label class="form-check-label" for="confCheckBox">Lembrar</label>
                            </div>
                            <a th:href="@{/forget}">Esqueceu a senha</a>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Cadastrar</button>
                        <p class="text-center mb-0">Já tem uma conta? <a th:href="@{/login}">Entrar</a></p>
                    </form>
                </div>
            </div>
        </div>
        <!-- Sign Up End -->
    </div>
</body>

</html>