<!DOCTYPE html>
<html lang="pt-pt">

<head th:insert="fragment/header :: html_head">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <div th:replace="fragment/navbar :: sidebar"></div>


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav th:replace="fragment/navbar :: sidebar"></nav>
            <!-- Navbar End -->


            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row bg-secondary rounded align-items-center justify-content-center mx-0">
                    <div class="row">
                        <div class="col-sm">
                            <h6  class=" p-4">serviços Solicitados</h6>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <ul>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkredes">
                                        <label class="form-check-label" for="checkredes">
                                          REDES
                                        </label>
                                    </li>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkwifi">
                                        <label class="form-check-label" for="checkwifi">
                                          WIRELESS
                                        </label>
                                    </li>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkDesign">
                                        <label class="form-check-label" for="checkDesign">
                                            CONSULTORIA
                                        </label>
                                    </li>                                    
                                </ul>
                            </div>                            
                            <div class="col-sm">
                                <ul>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkEmail">
                                        <label class="form-check-label" for="checkEmail">
                                            E-MAIL
                                        </label>
                                    </li>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkNet">
                                        <label class="form-check-label" for="checkNet">
                                          INTERNET
                                        </label>
                                    </li>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkHard">
                                        <label class="form-check-label" for="checkHard">
                                          HARDWARE
                                        </label>
                                    </li>
                                    
                                </ul>
                            </div>                            
                            <div class="col-sm">
                                <ul>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkForm">
                                        <label class="form-check-label" for="checkForm">
                                          FORMAÇÃO
                                        </label>
                                    </li>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkVConf">
                                        <label class="form-check-label" for="checkVConf">
                                          VÍDEO CONFERÊNCIA
                                        </label>
                                    </li>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkAEquip">
                                        <label class="form-check-label" for="checkAEquip">
                                          ALUGUER DE EQUIPAMENTOS
                                        </label>
                                    </li>
                                    
                                </ul>
                            </div>                            
                            <div class="col-sm">
                                <ul>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkWShop">
                                        <label class="form-check-label" for="checkWShop">
                                          WORKSHOP
                                        </label>
                                    </li>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkDomain">
                                        <label class="form-check-label" for="checkDomain">
                                          DOMAIN
                                        </label>
                                    </li>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkSoftware">
                                        <label class="form-check-label" for="checkSoftware">
                                          SOFTWARE
                                        </label>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="col-sm">
                                <ul>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkVirus">
                                        <label class="form-check-label" for="checkVirus">
                                          ANTI-VIRUS
                                        </label>
                                    </li>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkDSoftware">
                                        <label class="form-check-label" for="checkDSoftware">
                                          DESENVOLVIMENTO DE SOFTWARE
                                        </label>
                                    </li>
                                    <li class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkConsult">
                                        <label class="form-check-label" for="checkConsult">
                                            WEB DESEIGN/HOSPEDAGEM
                                        </label>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <label>OUTROS serviços:</label>tex
                    </div>
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Responsive Table</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Country</th>
                                            <th scope="col">ZIP</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>John</td>
                                            <td>Doe</td>
                                            <td>jhon@email.com</td>
                                            <td>USA</td>
                                            <td>123</td>
                                            <td>Member</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>mark@email.com</td>
                                            <td>UK</td>
                                            <td>456</td>
                                            <td>Member</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>jacob@email.com</td>
                                            <td>AU</td>
                                            <td>789</td>
                                            <td>Member</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blank End -->


            <!-- Footer Start -->
            <div th:replace="fragment/footer :: rodape"></div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->
    </div>
</body>
</html>