<!DOCTYPE html>
<html lang="pt-pt"  xmlns:th="https://www.thymeleaf.org">

<head th:insert="fragment/header :: html_head">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav th:replace="fragment/navbar :: sidebar"></nav>
            <!-- Navbar End -->

            <!-- Content body -->
            <div class="container-fluid pt-4 px-4 content_Service mb-3">
                <div  class="content_Service row bg-secondary rounded align-items-lg-start mx-0" >
                    <div class="row">
                        <nav>
                            <div id="nav-tab" role="tablist" class="nav nav-tabs nav-item">
                                <button class="nav-link active mt-sm-1" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true">Home</button>

                                <button class="nav-link" id="nav-servicos-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-servicos" type="button" role="tab" aria-controls="nav-servicos"
                                    aria-selected="true">serviços</button>

                                <button class="nav-link " id="nav-depTecn-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-depTecn" type="button" role="tab" aria-controls="nav-depTecn"
                                    aria-selected="true">Departamento que vai executar o trabalho</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active p-3" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <h2>Principal</h2>
                                <P>
                                   PageMaker including versions of Lorem Ipsum.</P>
                            </div>

                            <div class="tab-pane fade p-3" id="nav-servicos" role="tabpanel"
                                aria-labelledby="nav-servicos-tab">
                                <h6> Solicitação de serviços</h6>
                                <!-- inicio -->                                
                                <div class="container-fluid pt-4 px-4">
                                    
                                </div>            
                                <!-- fim -->
                                
                            </div>
                            <div class="tab-pane fade show p-3" id="nav-depTecn" role="tabpanel"
                                aria-labelledby="nav-depTecn-tab">
                                <h2>Departamento que vai executar o trabalho</h2>
                                <div class="bg-secondary rounded h-100 p-4">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Body End -->
            
            <!-- Footer Start -->
            <div th:replace="fragment/footer :: rodape"></div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->
    </div><div th:replace="fragment/footer :: javaScripts"></div>
</body>

</html>